<h1>Joss Whedon Confirms Quicksilver and Scarlet Witch, Talks Iron Man Returning</h1>

<p>
  <img alt="" src="http://comingsoon.net/nextraimages/quick-which.jpg" style="width: 200px; height: 150px; float: left;">A rumor started <strong><a href="http://www.superherohype.com/news/articles/176445-joss-whedon-teases-more-avengers-2-details">a few weeks ago</a></strong> that Quicksilver and Scarlet Witch would be joining the team in the upcoming <strong><a href="http://www.superherohype.com/heroes/avengers">Avengers</a></strong> sequel. Further signs <strong><a href="http://www.superherohype.com/news/articles/176609-further-signs-point-to-scarlet-witch-and-quicksilver-in-marvels-the-avengers-2">continued to point</a></strong> towards the characters' inclusion in the film and now writer/director Joss Whedon has confirmed the characters will appear in an interview with <a href="http://www.ign.com/articles/2013/05/17/joss-whedon-talks-quicksilver-the-scarlet-witch-and-iron-mans-roles-in-avengers-2" target="_blank">IGN</a>. In the interview, he spoke about their involvement in the film.</p>

<p>
  <em><strong>"You know, they had a rough beginning. They’re interesting to me because they sort of represent the part of the world that wouldn’t necessarily agree with The Avengers. So they’re not there to make things easier. I’m not putting any characters in the movie that will make things easier.”</strong></em></p>

<p>
  We've learned <strong><a href="http://www.superherohype.com/news/articles/176783-rumor-what-is-marvels-direction-for-scarlet-witch-a-quicksilver">exclusively at SuperheroHype</a></strong> that Irish actress Saoirse Ronan is the "prototype" for their version of the Scarlet Witch, but no casting has taken place.</p>

<p>
  Whedon also spoke about how the ending to <strong><a href="http://www.superherohype.com/heroes/iron-man">Iron Man 3</a></strong> (<strong>spoiler ahead!</strong>) showed a potentially changed Tony, but he's still tied to The Avengers.</p>

<p>
  <em><strong>“Well, I feel like in Iron Man 3, even though he said, ‘I’ve changed' -- he blew up his remote suits, but I don’t think anybody thinks he doesn’t have one anymore. The question is, if The Avengers are called, does he show up? And the answer is, ‘Yes!’”</strong></em></p>

<p>
  Casting for <strong><a href="http://www.superherohype.com/heroes/avengers">The Avengers 2</a></strong>&nbsp;is still coming together with many rumors flying around about potential actors being replaced.&nbsp;Regardless of who ultimately assembles for the sequel, <strong><a href="http://www.superherohype.com/heroes/avengers">Marvel's The Avengers 2</a></strong> hits the big screen on May 1, 2015.</p>