<div class="hero single row">
  <div class="column hero-content">
    <h1>Read your feeds, the classic way</h1>
    <h3>Don't miss Google Reader. Kent is here.</h3>
    <h4 class="subtitle">Sign in with...</h4>
    <a href="/auth/twitter">
      <img src="/assets/twitter-32x32.png" title="Twitter" />
    </a>
    <a href="/auth/facebook">
      <img src="/assets/facebook-32x32.png" title="Facebook" />
    </a>
    <a href="/auth/gplus">
      <img src="/assets/google+-32x32.png" title="Google+" />
    </a>
  </div>
  <div class="column right hero-image">
    <img src="/assets/feed-hero.png" width="350" height="350" />
  </div>
</div>