* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f9f9f9;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #606060;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

.float {
  float: left;

  &.right {
    float: right;
  }
}

.row {
  overflow: hidden;

  .column {
    float: left;

    &.right {
      float: right;
    }
  }
}

.single {
  width: 960px;
  margin: 20px auto;
  background: #fcfcfc;
  border: solid 1px #d0d0d0;
  box-shadow: 0 0 10px #d0d0d0;
  padding: 20px;
}

.hero {
  font-size: 1.5em;

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

  .subtitle {
    font-weight: 900;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  .hero-content {
    width: 560px;
  }

  .hero-image {
    width: 350px;
  }

  .button-group {
    margin: 100px 0;
  }
}

small.label {
  font-size: 0.7em;
  background: rgba(10, 10, 10, 0.4);
  padding: 3px 10px;
  color: #fff;
  border-radius: 2px;
}

.inline-action {
  display: inline-block;

  &.right {
    float: right;
    margin-right: 20px;
  }

  img {
    display: block;
  }
}

.button {
  border: solid 1px #e0e0e0;
  padding: 5px 20px;
  border-radius: 2px;
  margin: 0 5px;
  font-weight: 900;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.1em;
  background: #efefef;
  color: #616161;

  &.square {
    padding: 5px;
  }

  .icon {
    width: 24px;
    padding: 3px;
  }

  &:hover {
    background: #eaeaea;
    text-decoration: none;
  }
}

.button-group {
  display: inline-block;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  margin: 0 5px;
  font-weight: 900;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.1em;
  background: #efefef;
  line-height: 25px;

  .label, .buttons {
    display: inline-block;
  }

  .label {
    padding: 5px 15px;
    white-space: nowrap;
    vertical-align: middle;
  }

  .buttons {
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    padding: 5px 5px;
  }

  img {
    vertical-align: middle;
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-toggle {
    img {
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    background: #fcfcfc;
    list-style: none;
    margin: 0 5px;
    padding: 0;
    border: solid 1px #d0d0d0;
    box-shadow: 0 0 10px #d0d0d0;
    line-height: 1;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 140px;
    font-size: 13px;

    li {
      margin: 0;
      padding: 5px;

      &:hover {
        background: #eee;
      }
    }

    a {
      display: block;
      padding: 5px 10px;
      height: 24px;
    }

    img {
      vertical-align: middle;
    }
  }
}

.button.green, .button-group.green {
  border-color: #388e3e;
  background: #41a448;
  color: #fff;
}

.button.green:hover {
  background: #3b9541;
}

.button.blue, .button-group.blue {
  border-color: #4172a4;
  background: #4c82b7;
  color: #fff;
}

.button.blue:hover {
  background: #4477aa;
}

.button.red, .button-group.red {
  border-color: #8d2525;
  background: #b43131;
  color: #fff;
}

.button.red:hover {
  background: #a42c2c;
}